.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.button-array{
    display: flex;
    justify-content: space-between;
}

.profile-button{
    display: block;
    margin: 0 auto;
    border: none;
    padding: 5px;
    background-color: white;
    width: 100%;
    height: 100%;
}


.profile-button:hover{
    background-color: azure;
}