.add-notes-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4ddf4;
    padding: 50px 0;
}

.add-notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 35vw;
    height: 55vh;
    align-items: center;
    background-color: #dccefa;
}

.add-notes-inner-container{
    display: flex;
    width: 70%;
    /* align-items: flex-start; */
    flex-direction: column;
}

.active{
    border: 2px dotted black;
}

.colorPalatte:first-of-type{
    margin-left: 0;
}

.colorPallate-container{
    display: flex;
    justify-content:center;
}

.submit-button{
    /* margin: 10px 20px */
    padding: 10px 20px;
    background-color: #ef9a0b;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}


.center-title{
    margin: 0 auto;
}

.add-a-note-text{
    margin-bottom: 10px;
}

.author-created-time{
    display: flex;
    flex-direction: row;
}

.author-container{
    margin-right: 5px;
}

.note-container{
    padding: 10px 20px;
    margin: 0px 20px 30px 0px;
    height: 230px;
    width: 23vw;
    min-width: 300px;
    border-radius: 10px;
    background-color: bisque;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .my-notes-inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .note-list{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .add-notes{
        width: 90vw;
        height: 100px;
    }
    .colorPalatte{
        height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 20px 2px;
    cursor: pointer;
    transition: 0.5s ease-in;
    }
  }

.note-content{
    color: whitesmoke;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
}

.note-title{
    margin: 5px 0px 10px 0px;
    color: white;
}

.note-list{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.note-time-ago{
    color: grey;
}

.note-author-title{
    color: rgb(78, 78, 78);
}

.add-note-container{
    margin: 0 auto;
    max-width: 400px;
    background-color: oldlace;
    padding: 20px;
    border: 2px dotted antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.my-notes-container{
    margin: 0 auto;
    padding: 40px 0;
    width: max-width;
    background-color: black;
}

.my-notes-text{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.see-more-note-tab{
    text-decoration: none;
    font-size: 16px;
    color: rgb(31, 31, 255);
    cursor: pointer;
}

.my-notes-inner-container{
    width: 80vw;
    margin: 0 auto;
}

.edit-note-pop-up{
    position:absolute;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    background-color: whitesmoke;
    border-radius: 5px;
    top:120%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 20px;
}

.edit-button{
    background-color: greenyellow;
    color: whitesmoke;
}

.edit-button:hover{
    background-color: rgb(190, 255, 91);
    transition: 0.3s ease-in-out;
}

.update-button-container{
    margin: 10px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.cancel-button{
    margin: 10px;
    color: red;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.see-more-delete-icon-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-icon{
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px;
    color: red;
}

.edit-icon{
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.edit-icon:hover{
    color: rgb(153, 153, 153);
    scale: 1.1;
}

.delete-icon:hover{
    color: rgb(255, 71, 71);
    scale: 1.1;
}

.crud-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-user {
    color: black;
    cursor: pointer;
    padding: 5px;
    /* font-size: 20px; */
    background-color: antiquewhite;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-right: 3px;
    transition: 0.5s ease-in;
}

.icon-user:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.icon-user:last-of-type{
    margin-right: 10px;
}

.colorPalatte{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 20px 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.colorPalatte:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.line-break{
    border: 1px solid black;
    height: 28px;
}

.mic-area{
    display: flex;
    /* background-color: white; */
    border-radius: 10px;
    align-items: flex-end;
    /* margin: 0 10px?; */
}

.recoder-container{
    position: absolute;
    top: 25%;
    border: 2px dotted black;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
}

.model-icons-stack{
    display: flex;
    justify-content: center;
    align-items: center;
}